<!-- about_us.html -->
{% extends 'product/base.html' %}

{% block title %}About Us - Farmish Farmers Market{% endblock %}

{% block content %}
<p align="justify">
    <h2> About Farmish </h2>
    Welcome to Farmish, your gateway to the heart of Kathmandu's vibrant local farmers market. We are a dedicated platform that connects you directly with the farmers of Kathmandu, offering a wide range of fresh, organic, and locally produced goods. Our mission is to support the local economy, promote sustainable farming practices, and bring the richness of Nepalese culture and cuisine to your doorstep.
<br/><br/>
<h2> Our Story </h2>
Farmish was born out of a passion for supporting local communities and a deep appreciation for the unique products that the farmers of Kathmandu have to offer. We believe in the power of community and the importance of supporting local businesses. Our team is made up of dedicated individuals who are committed to making a difference in the lives of local farmers by providing them with a platform to showcase their products.
<br/><br/>
<h2> What We Do </h2>
At Farmish, we curate a selection of the finest products from Kathmandu's local farmers. From fresh produce and dairy products to traditional Nepalese spices, we offer a wide range of items that are not only delicious but also support the local economy.
<br/><br/>
<h2> Our Values </h2>
<p><b>Sustainability: </b>We are committed to promoting sustainable farming practices and supporting farmers who prioritize the health of the environment.</p>
<p><b>Community:</b> We believe in the strength of community and are dedicated to supporting local businesses.</p>
<p><b>Quality: </b>We only feature products that meet our high standards of quality and authenticity.</p>
</p>
{% endblock %}
