<!-- about_us.html -->
{% extends 'product/base.html' %}

{% block title %}About Us - Farmish Farmers Market{% endblock %}

{% block content %}
<header>
    <h1>About Farmish Farmers Market</h1>
</header>
<main>
    <section>
        <h2>Our Story</h2>
        <p>Welcome to Farmish Farmers Market! We are dedicated to providing our community with fresh, locally sourced produce and artisanal goods. Our market brings together farmers, artisans, and food producers who share our commitment to sustainability and quality.</p>
    </section>
    <section>
        <h2>Our Mission</h2>
        <p>At Farmish, our mission is to support local farmers and businesses while promoting healthy living and sustainable agriculture. We believe in fostering connections between producers and consumers, and we strive to create a vibrant community gathering place where people can enjoy the best that our region has to offer.</p>
    </section>
    <section>
        <h2>Explore Our Market</h2>
        <p>Discover the freshest produce, delicious baked goods, handcrafted products, and much more at Farmish Farmers Market. Although our market is only online, you can still experience the best our region has to offer from the comfort of your own home.</p>
    </section>
</main>
{% endblock %}
