<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Farmer's Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'product/style.css' %}">
</head>
<body>
    <nav class="navbar">
       
        <ul class="nav-links">
            <li><a href="{% url 'add_product' %}">Home</a></li>
            <li><a href="{% url 'product_list' %}">My Shop</a></li>
            <li><a href="{% url 'about_us' %}">About Us</a></li>
            <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
            <li><a href="{% url 'Order' %}">Orders</a></li>

            

        </ul>
        <!-- Profile details -->
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
