<!-- contact_us.html -->
{% extends 'product/base.html' %}
{% block title %}Contact Us - Farmish Farmers Market{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Contact Us</h1>

    <div class="row">
        <div class="col-lg-6">
            <form action="{% url 'contact_us' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required>
                </div>
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="3" placeholder="Your Message" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary custom-btn" style="background-color: #198754; border-color: #198754;">Submit</button>
            </form>
        </div>

        <div class="col-lg-4">
            <div class="p-3"> 
                <h2>Contact Information</h2>
                <p>Farmish</p>
                <p>Kathmandu</p>
                <p>Naxal</p>
                <p>Phone: (123) 456-7890</p>
                <p>Email: farmish63@gmail.com</p>

                <h3>Departments</h3>
                <ul>
                    <li>Customer Service: (123) 456-7891</li>
                    <li>Sales: (123) 456-7892</li>
                    <li>Support: (123) 456-7893</li>
                    <li>Marketing: (123) 456-7894</li>
                    <li>Human Resources: (123) 456-7895</li>
                </ul>

                <h3>Business Hours</h3>
                <p>Monday - Friday: 9:00 AM to 5:00 PM</p>
                <p>Saturday: 10:00 AM to 2:00 PM</p>
                <p>Sunday: Closed</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
