{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-success py-5 mb-5"> <!-- Added mb-5 class for margin bottom -->
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Categories</h1>
            <p class="lead fw-normal text-white-50 mb-0">Choose Your Category Below...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="row justify-content-center">
                {% for category in categories %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title"><a href="{% url 'category' category %}" style="text-decoration: none; color: #333;">{{ category }}</a></h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
